.card {
  --border-radius: 0.4rem;
  --light-color: #205295;
  --light-font-color: #FFF;
  --dark-color: #2c74b3;
  --dark-font-color: #000;
  --front-font-size: 35px;

  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: #000;
  background: #fefefe;
  padding: 1rem;
}

.flashcard.white {
  --light-color: #FFF;
  --light-font-color: #000;
  --dark-color: #DDD;
}

.flashcard.purple {
  --light-color: #6200ee;
  --dark-color: #bb86fc;
}

.flashcard.pink {
  --light-color: #AF0171;
  --dark-color: #E80F88;
}

.nightMode.card {
  background: #121212;
}

.flashcard {
  border-radius: var(--border-radius);
  background: #fff;
  color: var(--light-font-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  max-width: 500px;
  margin: 0 auto;
}

.flashcard.front .body {
  padding: 2rem;
}

.nightMode .flashcard {
  background: #1d1d1d;
  color: #fff;
}

.flashcard.front {
  background: var(--light-color);
  color: #fff;
  font-size: var(--front-font-size);
}

.nightMode .flashcard.front {
  background: var(--dark-color);
  color: #000;
}

.flashcard.back .front {
  padding: 2rem;
  background: var(--light-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  color: var(--light-font-color);
  font-size: var(--front-font-size);
}

.nightMode .flashcard.back .front {
  background: var(--dark-color);
  color: var(--dark-font-color);
}

.flashcard.back .body {
  border-top: transparent solid 1px;
  padding: 1rem;
  text-align: left;
}

.nightMode .replaybutton svg polygon {
  fill: #7c4dff;
}

.hint {
  font-size: 15px;
  font-style: italic;
  margin-top: 5px;
}

.nightMode .hint {
  color: #bb86fc;
}
